<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    <uses-permission android:name="android.permission.CAMERA"
        tools:ignore="PermissionImpliesUnsupportedChromeOsHardware" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.I200770_i200608_ProjectUI"
        tools:targetApi="31">
        <activity
            android:name=".register_fingerprint"
            android:exported="false" />
        <activity
            android:name=".register_face"
            android:exported="false" />
        <activity
            android:name=".enter_code"
            android:exported="false" />
        <activity
            android:name=".reset_password"
            android:exported="false" />
        <activity
            android:name=".register_user"
            android:exported="false" />
        <activity
            android:name=".check_in"
            android:exported="false" />
        <activity
            android:name=".splash_screen"
            android:exported="false" />
        <activity
            android:name=".HomeScreen"
            android:exported="false" />
        <activity
            android:name=".ReportFragment"
            android:exported="false" />
        <activity
            android:name=".FaceScan"
            android:exported="false" />
        <activity
            android:name=".BiometricScan"
            android:exported="false" />
        <activity
            android:name=".ProfileFragment"
            android:exported="false" />
        <activity
            android:name=".register_fingerprint"
            android:exported="false" />
        <activity
            android:name=".register_face"
            android:exported="false" />
        <activity
            android:name=".enter_code"
            android:exported="false" />
        <activity
            android:name=".reset_password"
            android:exported="false" />
        <activity
            android:name=".register_user"
            android:exported="false" />
        <activity
            android:name=".check_in"
            android:exported="false" />
        <activity
            android:name=".splash_screen"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>